.PaginaRest{
    margin: 0;
    font-family: Arial;
    background: #FFF3E0;
}

/* BANNER */
.banner{
    background: linear-gradient(#F57C00, #FFB74D);
    color: white;
    text-align: center;
    padding: 40px;
}

/* NAV */
nav{
    display: flex;
    justify-content: center;
    background: #2E7D32;
}

.nav-enlace{
    color: white;
    padding: 15px 25px;
    text-decoration: none;
}

.nav-enlace:hover{
    background: #F57C00;
}

/* TITULOS */
h2{
    text-align: center;
    color: #5D4037;
}

/* CONTENEDOR FLEX */
.contenedor{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* TARJETAS */
.card{
    background: white;
    width: 250px;
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
}

.card:hover{
    background: #FFE0B2;
}

/* ESPECIAL */
.especial{
    background: #5D4037;
    color: white;
    text-align: center;
    padding: 30px;

h2{
    text-align: center;
    color: white;

}
}

/* FOOTER */
.pie{
    background: #2E7D32;
    color: white;
    text-align: center;
    padding: 15px;
}